body {
  font-family: 'Jua', sans-serif; /* 통일된 폰트 사용 */
  text-align: center;
  background-color: #FEEAFA; /* 연한 핑크색 배경 */
  margin: 0;
  padding: 0;
  color: #333; /* 글자 색상은 어두운 회색으로 적당한 대비 제공 */
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  color: #FF69B4; /* 핑크색 계열의 제목 색상 */
}

h1 {
  font-size: 2em;
  margin: 30px 0 20px;
}

.new-post__button, .like-btn {
  display: block;
  margin: 20px auto;
  width: 300px;
  padding: 10px 20px;
  color: #FF69B4;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #FFB6C1; /* 연한 핑크색 테두리 */
  background-color: #FFFFFF; /* 흰색 배경 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-out;
}

.new-post__button:hover, .like-btn:hover {
  background-color: #FF69B4; /* 호버 시 핑크색으로 변경 */
  color: #FFFFFF; /* 호버 시 글자색 흰색으로 변경 */
  border-color: #FFC0CB; /* 연핑크색 테두리 */
}

div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #FFFFFF; /* 흰색 배경 */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p, .date {
  color: #555; /* 글자 색상은 약간 더 어두운 회색 */
  font-size: 0.95em;
}

#create-post {
  display: inline-block;
  background-color: #FFB6C1; /* 연한 핑크색 배경 */
  border-radius: 50px;
  color: white;
  padding: 5px 15px;
  transition: background-color 0.3s ease-out;
}

#create-post:hover {
  background-color: #FF69B4; /* 진한 핑크색으로 변경 */
}

.new-post {
  width: 40rem;
  padding: 5px 15px;
  text-align: left;
  border-radius: 30px;
  border: 2px solid #FFB6C1; /* 연한 핑크색 테두리 */
}

img {
  vertical-align: middle;
  width: 100px;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0;
  width: 50rem;
  color: #FF69B4; /* 핑크색 글자 */
}
